@import 'variables';
@import 'skeleton';
html,
body,
#app {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
  background-color: @background;
	font-family: PingFang SC, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
	.pull-right {
		float: right;
	}
	.pull-left {
		float: left;
	}
}
