@import "../styles/helpers";

.seaui-input {
  position: relative;

  // reset
  input {
    -webkit-appearance: none;
    border: 0;
    padding: 0;
  
    &:focus {
      outline: none;
    }
  }
  // custom
  .input {
    border-radius: 2px;
    border: 1px solid $ui-border;
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;
    &-withLabel {
      width: 41%;
    }
    &-withImage {
      padding-left: 56px;
    }
  }
  .image {
    height: 24px;
    left: 16px;
    position: absolute;
    top: 9px;
  }
  .leftLabel {
    display: inline-block;
    padding-right: 0.5em;
    width: 29%;
    text-align: right;
  }
  .topLabel {
    margin-bottom: 0.5em;
  }
}
