@import '~styles/variables';

.root {
  .header {
    height: 80px;
    line-height: 80px;
    width: 100%;
    background-color: @white;
    padding: 0 4%;
    border-bottom: 1px solid @border;
  }
  .title {
    color: @blue;
  }
  .menu {
    float: right;
  }
}