@import "../../styles/helpers";

.view-mobileComponent {
  min-height: 100vh;
  background-color: $ui-background;
  padding-bottom: 3em;
  .component-header {
    padding: 1.25em 1em;
    display: flex;
    align-items: center;
    .list {
      height: 1.2em;
      padding-right: 0.8em;
    }
    .componentName {
      padding-left: 0.8em;
      font-size: 1.2em;
      border-left: 1px solid $ui-text-lighten;
    }
  }
}