@import "../styles/helpers";

.seaui-modal {
  .mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: $z-index-overlay;
    background-color: $ui-overlay-bg;
  }
  .container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-index-overlay;

    .modal {
      position: relative;
      top: 100px;
      z-index: $z-index-overlay;
      background: $ui-white;
      margin: 0 auto;
      padding: 1.25em 1em;
      border-radius: 7px;
      width: 40em;

      @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        width: 20em;
      }

      .modalHeader {
        font-size: $font-size-title;
        font-weight: bold;
        margin-bottom: 0.75em;
      }

      .modalContent {
        max-height: 15em;
        overflow: auto;
      }

      .modalActions {
        margin-top: 2em;
        text-align: center;
      }
    }
  }
}
